.about_profile {
  width: 40%;
}
.social-link {
  display: flex;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border: 5px solid black;
}
.about_left {
  justify-content: start;
}
.about_right {
  justify-content: end;
  border: 2px solid red;
}
