.about {
  display: flex;
  flex-direction: row;
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.about_left {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about_profile {
  width: 60%;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.icon {
  font-size: 3rem;
}

.resume {
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: bold;
}

.about_right {
  width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.active {
  background-color: #d2e0fb;
}

.about_content {
  background-color: #d2e0fb;
  margin-top: 2rem;
  padding: 12%;
  border-radius: 20%;
}

.skillsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-auto-rows: auto;
  height: auto;
}
.skillsGrid img {
  height: 75px;
  width: 75px;
}
.skills {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}
