/* SECTION: projects title */
.section__title--projects {
  padding: 2rem;
  text-align: left;
  margin-top: 10rem;
  margin-bottom: 4rem;
}

/* SECTION: PROJECT SLIDER */
.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/* PROJECT SLIDER BTN */
.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 2;
  height: 5.5rem;
  width: 5.5rem;
  transform: translateY(-50%);
  border: none;
  background: #d2e0fb;
  color: #333;
  border-radius: 30%;
  font-size: 4rem;
  font-family: 'poppis';
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__btn--left {
  left: 1%;
}

.slider__btn--right {
  right: 1%;
}

/* SECTION: PROJECT CONTENT */
.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}

.project {
  position: relative;
  background-color: white;
  border-radius: 10%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;
}

.project__name {
  margin-top: 2rem;
  font-size: 2.25rem;
  font-style: italic;
  font-weight: bold;
  white-space: nowrap;
}

.project__description {
  font-size: 1.7rem;
  margin-bottom: 3rem;
  color: #666;
}

.project__date {
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.project__linkNImg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.project__link {
  font-size: 1.5rem;
  color: white;
  width: fit-content;
  background-color: #365486;
  padding: 0.5rem 2.5rem;
  border-radius: 3rem;
  text-decoration: none;
}

.project__img {
  width: 100%;
  max-width: 400px;
  height: auto;
  overflow: hidden;
}

.project__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
