/* SECTION: workExs */
.workExs {
  max-width: 100rem;
  margin: 0 auto 10rem auto;
  background-color: #fff;
  height: 50rem;
  position: relative;
  overflow: hidden;
  border-radius: 2%;
}

/* SECTION: WorkExs tab container */
.workExs__tab-container {
  display: flex;
  height: 100%;
}

.workExs__tab-container > div:first-child {
  width: 20rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-left: 10rem;
}

.workExs__tab-container > div:last-child {
  flex-grow: 1;
  padding: 2.5rem 7rem 6.5rem 7rem;
  overflow-y: auto;
}

/* SECTION: Work Experience Tab */
.workExs__tab {
  margin-bottom: 1.5rem;
  padding: 1rem;
  text-align: center;
  transition: background-color 0.3s ease;
  font-size: 1.5rem;
  font-weight: bold;
  color: #365486;
  background-color: #8eaccd;
  border-radius: 20%;
}

.workExs__tab--active {
  background-color: #d2e0fb;
  transform: translateX(-66%);
  color: #365486;
}

.workExs__tab:hover {
  background-color: #dcf2f1;
}

/* SECTION: Work Experience Content */
.workExs__header {
  color: #365486;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  font-style: italic;
  text-align: center;
}

.workExs__content {
  margin-top: 2rem;
  background-color: #d2e0fb;
  font-size: 2rem;
  font-style: italic;
  border-radius: 15%;
}

.skillList {
  font-size: 1.7rem;
  margin-left: 10rem;
  font-style: italic;
}

p {
  margin-left: 3rem;
}
