* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  line-height: 1.9;
  background-color: #f3f3f3;
}

.section {
  transition: transform 1s, opacity 1s;
}

.section__title {
  max-width: 80rem;
  margin: 0 auto 0 auto;
  margin-top: 6rem;
  text-align: left;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section__header {
  font-size: 4rem;
  line-height: 1.5;
  font-weight: 800;
  text-transform: uppercase;
  color: #8eaccd;
}

.section_color {
  background-color: #dcf2f1;
  border-radius: 5%;
  padding-bottom: 2rem;
}

.btn {
  display: inline-block;
  background-color: #8eaccd;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #dcf2f1;
}

p {
  color: #0f1035;
}

.social-link {
  font-size: 3rem;
  display: flex;
  gap: 10px;
}
